# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore environment files
.env
.venv/
net/

# Ignore pdfs
*.pdf
  
# Ignore ns-3-dev files
ns-3-dev/
Extra/